:root {
  --main-color: #3498db;
  --secondary-color: #2ecc71;
  --font-color: #333;
  --background-color: #f5f5f5;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  color: var(--font-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

.wrapper{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background-color: var(--main-color);
  color: white;
}